.MainContainer{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left;
  border: 2px solid pink ;
}


nav{
  border: 3px solid black;
  width:100vw;
  height:7vh;

}

h1{
  display: inline;
}

.Content{
  display: flex;
  flex-direction: row;
  border: 3px solid red;
  height:100vh;
  width: auto;
  justify-content: space-around;

}

.Left
{
  border: 1px solid ;
  border-color: green;
  height: 100vh;
  width: 25vw;
}
.Center
{
  border: 1px solid;
  border-color: blue;
  height: 100vh;
  width: 50vw;
}
.Right
{
  border: 1px solid;
  border-color: yellow;
  height: 100vh;
  width: 25vw;
  display: flex;
  justify-content:center;
}

p
{
  display: flex;
  flex-direction: row;
}

ul{
  list-style: none;
}

i{
  font-size: 100px;
}
